
<%- include("partials/header") -%>

<section id="home-body" class="main">

    <div class="container-fluid main-box">
        <h1>Home</h1>
        <p><%= homeContent %></p>
    </div>

    <% for (let i = 0; i < allPosts.length; i++) { %>
        <div class="container-fluid main-box">
            <h2><%= allPosts[i].title%></h2>
            <p> <%= allPosts[i].post%></p>
        </div>

    <% } %>

</section>


<%- include("partials/footer") -%>
